<%- include('layouts') -%>
    <section class="h-100 h-custom gradient-custom-2" style="background-color: aliceblue; min-height: 92vh">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100" >
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-4">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Original URL</th>
                                        <th scope="col">Shorten URL</th>
                                        <th scope="col">QR Code</th>
                                        <th scope="col">Click</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    <% click.forEach((click, index) => { %>
                                    <tr>
                                        <th scope="row"><%= index + 1 %></th>
                                        <td><%= click.original_url %></td>
                                        <td><a href="<%= `${click.short_url}` %>" rel="noopener noreferrer">
                                            <%= click.fullShort_url %></a></td>
                                        <td><img src="<%= click.qr_code %>" class="rounded d-block"></td>
                                        <td><%= click.click_count %></td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>

                            <div class="btn-group btn-group-sm" role="group" aria-label="Pagination">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>